@font-face{
    font-family: "GaramondBold";
    src: url('fonts/EBGaramond-Bold.ttf');
    font-weight: 800;
    font-style: normal;

}
@font-face{
    font-family: "Garamond";
    src: url('fonts/EBGaramond-Normal.ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face{
    font-family: "Garamond-Medium";
    src: url('fonts/Garamond-Medium.ttf');
    font-weight: normal;
    font-style: normal;

}

h1{
    font-family: GaramondBold;
    font-size: 30px;
    color:rgb(144, 39, 39);
}
h2{
    font-family: GaramondBold;
    font-size: 24px;
    color:rgb(144, 39, 39);
}
p{  
    font-family: GaramondMedium;
    font-size:18px;
}
a{
    font-family: GaramondMedium;
    font-size: 18px;
}
body{
    margin: 0;
    background-color: white;
}
button{
    font-family: GaramondMedium;
    font-size: 16px;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;

    padding-left:30px;
    padding-right:30px;
    border: 3px solid rgb(85, 85, 85);
}
button:hover{
    cursor: pointer;
}
section{
    justify-items:center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
div{
    box-sizing: border-box;
}
/* Maybe find a way for the mobile users to have a vertical nav-bar later*/
.nav-bar {
    display: flex;
    width: 100%; 
    height: 80px;
    background-color: rgb(43, 43, 47); 
}
.nav-bar a{
    position: relative;
}
.company-logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 15px;    
}

.nav-bar > a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    height: 80px;       
    line-height: 80px;
    text-decoration: none;
    color:rgb(232, 232, 232)
    
}
.nav-bar > a:hover{
    color: rgb(221, 57, 57);
}
.associates{
    text-align: center;
    margin-top: 50px;
    width: 100%; 
    height: 100%;
}
.associates > a{
    display: inline-block;
    vertical-align: middle;
    height: 80px;  
    margin-right: 20px;   
    margin-left: 20px;     
}
.about-us{
    background-color:  rgb(144, 39, 39) ;
    color: rgb(232, 232, 232);
    width: 100%; 
    height: 100%;
    text-align: center;
    margin-top: 80px;
}
.about-us h1{
    color: rgb(232, 232, 232);
}
.text-box{
    padding: 100px;
}
.experience-list{
    margin-top: 70px;
    width: 100%;
    text-align: center;
    
}

.experience-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;
    width:100%;

}

.services{
    text-align: center;
    margin-top: 70px;
    border-top: 5px solid rgb(144, 39, 39);
}

.services > h1{
    margin-top: 70px;  
    color:rgb(144, 39, 39);
   
}
.about-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 70px;
    row-gap: 50px;
    margin-bottom: 70px;
    padding: 0 80px;
}

.about-grid-item > img{
    width:  300px;
    height: 190px;
    object-fit: cover;
}
.white-button{
    justify-items: center;
    margin-top: 10px;
    background-color: white;
    font-family: GaramondMedium;
}
.white-button:hover{
    background-color: rgb(209, 209, 209);
}
.contact-us{
    background-color: rgb(144, 39, 39);
    color: rgb(232, 232, 232);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 130px;
    row-gap: 10px;
    width:100%;
    padding-top: 70px;
    padding-bottom: 70px;
}
.contact-form{
    text-align:center;
}

.contact-form label{
  display: block;
  font-family: GaramondMedium;
  font-size: 18px;
  padding: 12px 0 2px 0;
  letter-spacing: -0.2px;
  cursor: pointer;
}
.contact-form input[type=text],
.contact-form textarea {
    width: 100%;
    padding: 12px 110px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: GaramondMedium;
    font-size: 18px;
}
input[type=submit] {
    font-family: GaramondMedium;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid rgb(85, 85, 85);
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(209, 209, 209);
}

.footer{
    background-color: rgb(43, 43, 47); 
    color:white;
    padding-top: 40px;
    padding-bottom:40px;
    text-align: center;
}
.footer a{
    color: white;
    text-decoration: none;
    margin-right: 20px;

}
.footer a:hover{
    color: rgb(221, 57, 57)
}
.experts{
    background-color: rgb(144, 39, 39);
    border: 1px rgb(144, 39, 39) solid;
    padding-top:40px;
    padding-bottom:40px;
    padding-left: 200px;
    padding-right: 200px;
    
}
.experts > h1, .experts h2, .experts p{
    color: rgb(232, 232, 232);
}

.defaultgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 100px;
    row-gap: 50px;
    width:100%;
    margin-bottom: 70px;
}
.defaultgrid > section{
    text-align: center;
    width: 100%;
}
.grid-single-img{
    display: flex;
    align-items: center;
}

.CCI{
    padding-top:40px;
    padding-bottom:40px;
    padding-left: 200px;
    padding-right: 200px;
    border-bottom: 5px solid rgb(144, 39, 39);
}
.CCI > h1, .CCI > h2{
    color:rgb(144, 39, 39)
}
.CCI img{
    width:  500px;
    height: 290px;
    object-fit: cover;
}
.accounting{
    background-color: rgb(144, 39, 39);
    color:rgb(232, 232, 232);
    padding-top:40px;
    padding-bottom:40px;
    padding-left: 200px;
    padding-right: 200px;
} 
.accounting h2, .accounting h1{
    color: rgb(232, 232, 232);
}

.reqform{
    padding-left:200px;
    padding-right:200px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.reqform  button{
    margin-top: 10px;
    font-size: 18px;
}
.reqform h1{
    padding-bottom:20px;
}

.pdfsection{
    display: block;
    box-sizing: border-box;
    background-color: rgb(209, 209, 209);
    padding-top: 80px;
    padding-bottom: 80px;
    border: 5px rgb(144, 39, 39) solid;
}
.carousel{
    padding-top:50px;
    padding-bottom: 100px;
}
.carousel-view {
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in;
    width:100%;
    box-sizing: border-box;
    overflow:hidden;
    
}
  .carousel-view .item-list {
    position: relative;
    width: 90%;
    padding: 40px 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    scroll-behavior: smooth;
    transition: all 0.25s ease-in;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: auto;
    scroll-snap-type: x mandatory;
    
  }
input[type="radio"] {
    cursor: pointer;
    visibility: hidden;
}
.prev-btn, .next-btn{
    visibility: hidden;
    pointer-events: none;
}

input[type="radio"] + label{
    cursor: pointer;
    display: inline-block; 
}
input[type="radio"] + label img {
    
    box-sizing: border-box;
    border: 3px solid transparent; 
    transition: border 0.3s ease; /* Optional: Smooth border animation */
}
input[type="radio"]:hover + label img {
    border: 5px solid rgb(85, 85, 85);
}
.selected {
    border: 2px solid #007bff; /* Example: blue border around selected image */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Optional: add a glow effect */
  }
.item {
    width: 600px; /* Make each item take full width of the container */
    height: 400px;
    border-radius: 8px;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
    scroll-snap-align: center;
}
.navigation{
    padding-left: 50px;
    padding-right: 50px;
}
.expertise{
    padding-top:40px;
    padding-bottom:40px;
    padding-left: 200px;
    padding-right: 200px;
}

.expertise h1{
    padding-bottom: 20px;
}
.realestate{
    background-color: rgb(144, 39, 39);
    color:rgb(232, 232, 232);
    padding: 80px;
}
.realestate h1, .realestate h2{
    color:rgb(232, 232, 232)
}
.corp{
    padding-top:70px;
    padding-bottom:40px;
    padding-left: 200px;
    padding-right: 200px;
}
.corp-text{
    padding-left:50px;
    padding-right: 50px;
}
.images-grey{
    border-top: 5px solid rgb(144, 39, 39);
    border-bottom:5px solid rgb(144, 39, 39);
    padding-top:70px;
    padding-bottom:70px;
    padding-left: 200px;
    padding-right: 200px;
}
.dev{
    width:100%;
    padding-top: 100px;
    padding-bottom:100px;
    padding-left:200px;
    padding-right:200px;
}
.dev{
    object-fit: cover;
    align-items: center;
}
.development{
    background-color: rgb(144, 39, 39);
    padding-top:70px;
    padding-bottom:70px;
    padding-left: 200px;
    padding-right: 200px;
    color:rgb(232, 232, 232);

}
.development h1, .development h2 {
    color:rgb(232, 232, 232);
}
.developmentproject1{
    margin-top: 80px;
    margin-bottom: 80px;

}
.developmentproject2, .developmentproject3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 100px;
    row-gap: 50px;
    width:100%;
    margin-bottom: 70px;
}

.developmentproject4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
    width:100%;
    margin-top: 70px;
    margin-bottom: 70px;
}
.development  section{
    width: 100%; 
}
.development img{
    object-fit: cover;
    align-items: center;
}